<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-11-15-how_to_write_a_proposal.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21812904</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2018-12-26-kog.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21812904</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-01-09-2019_flag.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21812999</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-01-10-fund.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814096</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-01-14-2019_book.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21812999</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-01-23-mi6.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813095</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-04-sleep.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813095</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-06-lower.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813202</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-07-insight.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813202</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-14-trend.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813297</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-25-zero.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813297</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-02-26-media.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813405</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-03-luckin.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813405</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-04-effect.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.218135</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-16-tob.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.218135</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-17-strategy.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.218135</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-18-deep_work.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813595</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-03-21-brandhub.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813595</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-04-03-operation.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813703</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-05-30-video.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813703</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-06-11-macbook.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813798</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-07-04-speed.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813798</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-07-08-sheets.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813905</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-07-10-retail.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813905</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-07-10-seven.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21813905</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-08-05-smallpdf.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814001</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-08-29-flow.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814001</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-09-08-vp.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814001</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-11-20-git.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814203</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-11-20-video.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814203</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2019-12-05-communication.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814203</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-04-27-software.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21812797</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2020-05-12-sheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963875.21302402</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>shoot.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814299</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>sociology.md</key>
			<dict>
				<key>lastModification</key>
				<real>610963848.21814299</real>
				<key>version</key>
				<dict>
					<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetOrder</key>
		<real>610683558.52817297</real>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2020-05-12-sheet.md</string>
		</array>
		<array>
			<string>2020-04-27-software.md</string>
		</array>
		<array>
			<string>2016-11-15-how_to_write_a_proposal.md</string>
		</array>
		<array>
			<string>2018-12-26-kog.md</string>
		</array>
		<array>
			<string>2019-01-09-2019_flag.md</string>
		</array>
		<array>
			<string>2019-01-14-2019_book.md</string>
		</array>
		<array>
			<string>2019-01-23-mi6.md</string>
		</array>
		<array>
			<string>2019-02-04-sleep.md</string>
		</array>
		<array>
			<string>2019-02-06-lower.md</string>
		</array>
		<array>
			<string>2019-02-07-insight.md</string>
		</array>
		<array>
			<string>2019-02-14-trend.md</string>
		</array>
		<array>
			<string>2019-02-25-zero.md</string>
		</array>
		<array>
			<string>2019-02-26-media.md</string>
		</array>
		<array>
			<string>2019-03-03-luckin.md</string>
		</array>
		<array>
			<string>2019-03-04-effect.md</string>
		</array>
		<array>
			<string>2019-03-16-tob.md</string>
		</array>
		<array>
			<string>2019-03-17-strategy.md</string>
		</array>
		<array>
			<string>2019-03-18-deep_work.md</string>
		</array>
		<array>
			<string>2019-03-21-brandhub.md</string>
		</array>
		<array>
			<string>2019-04-03-operation.md</string>
		</array>
		<array>
			<string>2019-05-30-video.md</string>
		</array>
		<array>
			<string>2019-06-11-macbook.md</string>
		</array>
		<array>
			<string>2019-07-04-speed.md</string>
		</array>
		<array>
			<string>2019-07-08-sheets.md</string>
		</array>
		<array>
			<string>2019-07-10-retail.md</string>
		</array>
		<array>
			<string>2019-07-10-seven.md</string>
		</array>
		<array>
			<string>2019-08-05-smallpdf.md</string>
		</array>
		<array>
			<string>2019-08-29-flow.md</string>
		</array>
		<array>
			<string>2019-09-08-vp.md</string>
		</array>
		<array>
			<string>2019-01-10-fund.md</string>
		</array>
		<array>
			<string>2019-12-05-communication.md</string>
		</array>
		<array>
			<string>2019-11-20-video.md</string>
		</array>
		<array>
			<string>2019-11-20-git.md</string>
		</array>
		<array>
			<string>shoot.md</string>
		</array>
		<array>
			<string>sociology.md</string>
		</array>
	</array>
	<key>sheetOrder</key>
	<string>title,descending</string>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
			<integer>4</integer>
		</dict>
		<key>sheetOrder</key>
		<dict>
			<key>b2c02c8d49f161f9062faada4ec0182488812b5ec001d947d770b3bfb0365e84</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
